html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1.5em;
    max-width: 720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 1.3em;
    font-weight: 700;
}

button {
    width: 24%;
    height: 50px;
    background: lightgrey;
    font-family: inherit;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;  
    display: inline;
    padding: 0px;
    margin: auto;
    border: 0px;
    -webkit-appearance: none;
}

header {
    display: grid;
    grid-template-columns: [half] 50% [fourty] 40% [ten] 10%;
}

.container {
    display: grid;
    grid-template-columns: [ten] 10% [fourty] 40% [fourtyFive] 45% [five] 5%;
}

.grid-item {
    border-bottom: 1px solid black;
}

.smalltext {
    font-size: 12px;
}
/* Daylight indicator */
.sun {
    height: 25%;
    min-height: 1.5em;
}

.night {
    background-color: black;
    color: black;
}

.sunrise {
    background-color: coral;
    color: coral;
}

.easterlysun {
    background-color: lemonchiffon;
    color: lemonchiffon;
}

.solarnoon {
    background-color: yellow;
    color: yellow;
}

.westerlysun {
    background-color: gold;
    color: gold;
}

.sunset {
    background-color: darkorange;
    color: darkorange;
} 

/* Background color for cards */

.precipitation0 {
    background-color:  #dae7f1;
}

.precipitation1 {
    background-color:  #c4d3e0;
}

.precipitation2 {
    background-color:  #adbfcf;
}

.precipitation3 {
    background-color:  #97acbe;
}

.precipitation4 {
    background-color:  #8299ae;
    color: white;
}

.precipitation5 {
    background-color:  #6c869e;
    color: white;
}

.precipitation6 {
    background-color:  #57748e;
    color: white;
}

.precipitation7 {
    background-color:  #41637e;
    color: white;
}

.precipitation8 {
    background-color:  #2a526f;
    color: white;
}

.results {
    background-color: lightgrey;
    width: 16.6%;
    float: left;
}

.redborder {
    border: 2px solid red;
}



#buttons {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    max-width: 720px;
    margin: auto;
    
}

#1 {
    float: left;
    background-color: lightgrey;
    width: 16.6%;
}

#2 {
    float: right;
    background-color: lightgrey;
    width: 16.6%;
}